Token requests send both client secret in both headers and body in violation of spec

I'm encountering issues where when I send token requests to Ory Hydra, it is rejecting the request because the `client_id` and `client_secret` are provided in both the headers as Basic Auth and in the body of the request.

According to the spec in [RFC 6749, Section 2.3](https://www.rfc-editor.org/rfc/rfc6749.html#section-2.3):
> _The client MUST NOT use more than one authentication method in each request._

Additionally, it appears [according to Keycloak](https://www.keycloak.org/docs/25.0.6/securing_apps/index.html#form-parameters) that you should not set `client_id` and `client_secret` in the form parameters if you are using Basic Auth.

As such, the `client_id` and `client_secret` should be sent in either the header or the body, but not both at the same time. Can this be changed to follow the spec? This should probably be configurable, but default to using Basic Auth if unset (The RFC discourages use of the form parameters).

The relevant code appears to be here: https://github.com/Rukenshia/ueberauth_keycloak/blob/dc137ce7dba34188ae3a2177613667571a351ed2/lib/ueberauth/strategy/keycloak/oauth.ex#L94